# 默认 淘宝镜像
registry=https://registry.npmmirror.com/


# 阮喵喵自己开发了一些依赖包，这些依赖包发布在npm上，
# 但是npm上的镜像不是最新的，所以我需要指定registry
@ruan-cat:registry=https://registry.npmjs.org/

# 给nuxt项目安装element-plus 按照要求设置
# https://nuxt.com/modules/element-plus#installation
# 带来了新的问题 在monorepo内不能正常的安装依赖了 故不使用该配置
# shamefully-hoist=true
