shamefully-hoist=true
strict-peer-dependencies=false
shell-emulator=true
auto-install-peers=false

# 从根包内抄过来的配置
registry=https://registry.npmmirror.com/
@ruan-cat:registry=https://registry.npmjs.org/
